// custom setup code goes here
$druid-000: hsl(28, 90%, 62%);
$druid-300: #FF7C0A;
$hunter-000: hsl(85, 42%, 74%);
$hunter-300: #AAD372;
$mage-000: hsl(193, 71%, 68%);
$mage-300: #3FC7EB;
$paladin-000: hsl(333, 73%, 85%);
$paladin-300: #F48CBA;
$priest-000: #FFFFFF;
$priest-300: #FFFFFF;
$rogue-000: hsl(56, 80%, 80%);
$rogue-300: #FFF468;
$shaman-000: hsl(210, 70%, 62%);
$shaman-300: #0070DD;
$warlock-000: hsl(239, 65%, 83%);
$warlock-300: #8788EE;
$warrior-000: hsl(31, 34%, 70%);
$warrior-300: #C69B6D;